body {

    background-image: url(https://static.vecteezy.com/system/resources/previews/003/010/925/non_2x/modern-background-with-fluid-and-leaves-shape-green-pastel-color-free-vector.jpg);
}



.dex {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    background-color: rgba(95, 175, 142, 0.514);
    text-align: center;
    margin-top: 10%;

}


.dex img {         /*importante*/
    height: 100Px;
    height: 300px;
    margin-left: 20px;

}



h1{
    text-align: center;
    color: black;
}

a{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}